body {
  font-family: 'Spectral';font-size: 19px;
}
.Plagiarism-Prevention {
  text-indent: 15px;
  font-size: 9px;
  width: 250px;
  left: 10px;

}

.About {
  position: absolute;
  width: 850px;
  left: 280px;
  right: 50px;
  top: 40px;

}

.List-of-Projects {

}

.Data1 {


}

.Data2 {


}


.Data3 {


}
